$('.answer-messages').html(''); //очищаем форму для вывода сообщений перед каждым запросом
<% if @answer.errors.present? %>
  <% @answer.errors.full_messages.each do |message| %>
    $('.answer-messages').append('<p> <%= j message %> </p>');
  <% end %>
<% else %>
  $('.answers').append('<%= j render @answer %>');
  $('.answer-messages').append('<p><%= flash.now[:notice] = 'Your answer successfully created' %></p>');
  $('#answer_body').val('');
<% end %>